<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li class="active"><%= link_to("マイランキング", "/users/#{@user.id}/ranking") %></li>
    </ul>
    <% p_posts = @user.posts.order(review_point: :desc) %>
    <% p_posts.each do |post| %>
      <div class="posts-index-item">
        <% @animedb.each do |db| %>
          <% if db.sora_id == post.sora_id then%>
            <h1><%= link_to(db.title, "/animedb/#{db.sora_id}") %></h1>
            <% break %>
          <% end %>
        <% end %>

        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>

        </div>
        <%= post.review_point %>
        <% for i in 1..post.review_point do %>
          ☆
        <% end %>
        <br>
        <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
          <%= link_to("/likes/#{post.id}/destroy", {method: "post"}) do %>
            <span class="fa fa-heart like-btn-unlike"></span>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{post.id}/create", {method: "post"} ) do %>
            <span class="fa fa-heart like-btn"></span>
          <% end %>
        <% end %>
        <%= Like.where(post_id: post.id).count %>
        <div class="post-time">
          <%= post.created_at %>
        </div>        
      </div>
    <% end %>
  </div>
</div>