<div class="main animebd-index">
<p id="notice"><%= notice %></p>

<%= link_to("このアニメでツイートする", "/posts/new/#{@animedb.sora_id}") %>


<p>
  <strong>Sora:</strong>
  <%= @animedb.sora_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @animedb.title %>
</p>

<p>
  <strong>Title short1:</strong>
  <%= @animedb.title_short1 %>
</p>

<p>
  <strong>Title short2:</strong>
  <%= @animedb.title_short2 %>
</p>

<p>
  <strong>Title short3:</strong>
  <%= @animedb.title_short3 %>
</p>

<p>
  <strong>Public url:</strong>
  <%= @animedb.public_url %>
</p>

<p>
  <strong>Twitter account:</strong>
  <%= @animedb.twitter_account %>
</p>

<p>
  <strong>Twitter hash tag:</strong>
  <%= @animedb.twitter_hash_tag %>
</p>

<p>
  <strong>Cours:</strong>
  <%= @animedb.cours_id %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animedb.sex %>
</p>

<p>
  <strong>Sequel:</strong>
  <%= @animedb.sequel %>
</p>

<p>
  <strong>City code:</strong>
  <%= @animedb.city_code %>
</p>

<p>
  <strong>City name:</strong>
  <%= @animedb.city_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @animedb.year %>
</p>

<p>
  <strong>Cours:</strong>
  <%= @animedb.cours %>
</p>
</div>